.img-thumbnail {
 width: 45px;
 height: 20%;
}

.navbar.scrolled{
  padding-top: 4px;
  padding-bottom: 2px;
  background-color: white;
}

.nav-link{
 position: relative;
 color: grey;
 text-decoration: none;
 transition: .5s ease-in-out;
}

.nav-link:hover{
 color: gold;
}

.nav-link::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 0;
 height: 3px;
 background-color: gold;
 transition: width 0.3s ease;
}

.nav-link:hover::after {
 width: 100%;
}

.container {
 color: aliceblue;
 font-variant: small-caps;
 display: flex;
}

.text-brand {
 color: gold;
 font-family: Georgia;
}

.h4 {
color: white;
font-size: medium;
font-family: verdana;
}

#Beranda {
 background-image: url('IMG_20251109_101329.jpg');
 background-position: center;
 background-size: cover;
}

.section-padding {
 padding-top: 120px;
 padding-bottom: 120px;
}

.section-title{
 color: black;
 max-width: 600px;
 margin: 0 auto 60px auto;
 font-family: Courier;
 font-size: small;
}

.section-title .line {
 width: 200px;
 height: 3px;
 background-color: gold;
 display: inline-block;
}

.img-content {
 margin: 0 auto 60px auto;
 width: 250px;
 height: 70%;
}

.info-grid {
  display: grid;
  grid-template-columns: none;
  gap: 15px;
  margin-bottom: 5px;
}

.info-card {
  background: gold;
  border-radius: 25px;
  padding: 5px 5px;
  transition: 0.3s;
}

.info-card h4 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 7px;
}

.info-card p {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
}

.interests h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.container-media {
 padding-bottom: 125px;
 padding-top: 35px;
}

.line-Media {
 width: 120px;
 height: 3px;
 background-color: black;
 display: inline-block;
}

.wrapper-container {
 border-style: inherit;
 display: flex;
 width: 400px;
 height: 250px;
 overflow: hidden;
 border-radius: 10px;
 box-shadow: 5px 10px 18px #888888;
}

.image-card {
 position: relative;
 flex: 1;
 overflow: hidden;
 transition: flex 0.5s ease-in-out;
 cursor: pointer;
}

.image-card img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 filter: brightness(70%) contrast(90%);
 transition: filter 0.4s ease-in-out;
}

.image-card:hover {
 flex: 5;
}

.image-card:hover img {
 filter: blur(0.3px);
}

.text-overlay {
 position: absolute;
 bottom: 20px;
 left: 20px;
 color: aqua;
 z-index: 3;
 opacity: 0;
 transition: opacity 0.3s ease-in-out;
}

.image-card:hover .text-overlay {
 opacity: 1;
}

.text-overlay h5 {
 font-size: 12px;
 margin-bottom: 3px;
 font-weight: 400;
}

.text-overlay p {
 font-size: 7px;
 font-weight: 400;
}

.h2 {
 margin-left: 20px;
 padding-bottom: 7px;
 padding-top: 5px;
}

#Project {
  background-image: url('images.jpeg');
  background-position: center;
  background-size: cover;
}

.wrapper {
  background-color: white;
  padding: 1rem;
  max-width: 576px;
  width: 100%;
  border-radius: .75rem;
  box-shadow: var(--shadow);
  text-align: left;
}

.rating {
  display: flex;
  justify-content: left;
  align-items: left;
  grid-gap: .5rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: gold;
}

.rating .star {
  cursor: pointer;
}

.rating .star.active {
  opacity: 0;
  animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.5);
}

footer {
  background-color: gold;
  padding-top: 55px; 
}

footer p,
footer li,
footer li a {
  text-decoration: none; 
  color: black;
}

footer ul {
  list-style: none;
  padding: 0;
}

.footer-top {
  padding-bottom: 10px;
  border-bottom: 1px black 0,2;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 10px;
}
